.content {
  position: relative;
  margin: 0;
  min-height: calc(100vh - 180px);
  background-color: #ff4656;
  background-image: url('../../assets/images/background_3.jpg');
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}
