.ticTacToe {
  padding-bottom: 40px;
}

.mainTitle {
  margin: 0;
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 124px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
