.mainTitle {
  margin: 0;
  padding: 40px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 124px;
  line-height: 0.9;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #1f2326;
}

.wrapText {
  animation: fadeIn ease-in-out 0.4s;
}
@keyframes fadeIn {
  0% {
    transform: translateY(10px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.image {
  width: 440px;
  min-height: 440px;
  object-fit: cover;
}

.title {
  margin: 40px 40px 0 80px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.2;
  color: #ff4656;
  transition: all ease-in-out 0.2s;
}

.text {
  margin: 16px 40px 40px 80px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

@media screen and (max-width: 979px) {
  .title {
    margin: 40px 40px 0;
  }

  .text {
    margin: 16px 40px 40px;
  }

  .image {
    width: 320px;
    min-height: 440px;
  }
}

@media screen and (max-width: 639px) {
  .mainTitle {
    font-size: 80px;
  }

  .container {
    flex-direction: column;
  }

  .title {
    margin: 16px 20px 0;
  }

  .text {
    margin: 16px 20px 20px;
  }

  .image {
    width: 100%;
    min-height: auto;
  }
}

@media screen and (max-width: 399px) {
  .mainTitle {
    padding: 20px 0;
    font-size: 48px;
  }

  .title {
    margin: 8px 20px 0;
  }

  .text {
    margin: 8px 20px 20px;
  }
}
